/* Normalise box-model to border-box */
*,*::before,*::after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
** All animation keyframes definitions here
*/

@-webkit-keyframes slide-in-from-right {
    from { 
        -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
        -o-transform: translateX(120%);
        transform: translateX(120%);
    }
    to {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-o-keyframes slide-in-from-right {
    from { 
        -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
        -o-transform: translateX(120%);
        transform: translateX(120%);
    }
    to {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-moz-keyframes slide-in-from-right {
    from { 
        -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
        -o-transform: translateX(120%);
        transform: translateX(120%);
    }
    to {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-in-from-right {
    from { 
        -webkit-transform: translateX(120%);
        -ms-transform: translateX(120%);
        -o-transform: translateX(120%);
        transform: translateX(120%);
    }
    to {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/*
** Keyframe definition ends here
*/

body
{
    overflow-x: hidden;
    font-family: sans-serif;
}

.slide-container
{
    position: absolute;

    bottom: 2em;
    right: 2em;

    width: 22em;
    height: 17em;
}

.slide
{
    position: relative;

    width: 100%;
    height: 100%;
    
    box-shadow: 0 0 3px rgba(0,0,0,.6);
    padding: 1em;
    
}

.animate
{
    -webkit-animation: slide-in-from-right 1.5s;
    -o-animation: slide-in-from-right 1.5s;
    animation: slide-in-from-right 1.5s;
}

#slide>div
{
    width: 100%;
    height: 100%;
}

.slide-header
{
    font-family: sans-serif;
    font-size: 1.1em;
    color: rgb(15,15,15);

    width: 100%;
    height: 3em;

    padding: 0.25em .25em;
}

.highlight
{
    font-weight: bold;
    /*font-size: 1.2em;*/
}

/*Add quote symbol before and after content using pseudo-selectors*/
.quote::before,.quote::after
{
    content: "'";
    width: 1em;
    height: 1em;
}

.slide-content {
  width: 100%;
  height: calc(100% - 3em);

  position: relative;
}

.content-container
{
    display: block;
    float: left;

    margin: 0;
    padding: 0;
    width: calc(50% - 1em);
    height: 100%;

    border: 1px solid darkgray;
}

.content-container:first-child,.content-container:last-child
{
    width: calc(50% - .5em);   
}

.content-container
{
    margin: 0 .5em;
}

.content-container:first-child
{
    margin-left: 0;
}

.content-container:last-child
{
    margin-right: 0;
}


.content-img
{
    width: 100%;
    height: 70%;
}

.content-img li
{
    list-style: none;
}

.content-img li
{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;

    overflow: hidden;
}

.content-img img {
  display: block;
  /*max-width: 100%;*/
  /*max-height: 100%;*/
  width: auto;
  /*height: auto;*/
  height: 100%;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content-footer
{
    width: 100%;
    height: 30%;

    padding: .25em .5em;
    background-color: rgba(0,0,0,.07);

    /*font-size: .8em;*/
}

.slide-close-btn
{
    position: absolute;
    top: 0;
    right: 0;
    
    padding: .375em .5em;
    background-color: rgba(255,255,255,0.5);

    font-size: .85em;
}